@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  max-width: 1800px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(243, 238, 246);
}

/* Main */

.firts__container {
  padding: 10px;
}

.firts__container h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 22px;
  color: #181818;
}

.firts__container p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

table {
  border-collapse: collapse;
  margin-top: 0px;
  margin: 0 auto;
  width: 70%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  font-family: sans-serif;
  font-size: 13px;
}

th {
  background-color: #bbb7b7;
}

/* Section */

.data__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.data__container label {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

.user-name-display {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: #b954bd62;
  padding: 5px;
  margin: 0 auto;
  width: 30%;
  margin-top: 15px;
}

.custom-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 15px 50px;
}

.custom-message label {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

.message__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#customMessage {
  width: 50%;
  height: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Arial, sans-serif;
  resize: vertical;
}

.custom-message-display {
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  width: 30%;
  margin: 0 auto;
  background-color: #b954bd62;
}

ol {
  text-align: start;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

li {
  padding: 6px;
  border: 1px solid rgb(150, 146, 146);
  background-color: rgb(255, 136, 0);
  margin-top: 5px;
}

a {
  text-decoration: none;
}

button {
  background-color: #50007f;
  border: none;
  color: #fff;
  border-radius: 30px;
  padding: 12px;
  cursor: pointer;
}

input {
  font-family: "Roboto", sans-serif;
}

ol li a {
  color: #50007f; /* Color inicial de los enlaces */
  text-decoration: none;
  transition: color 0.3s ease;
}

ol li a.clicked {
  color: rgb(255, 255, 255); /* Color al hacer clic */
}

.archivos {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 10px;
}

.archivos div {
  display: flex;
  gap: 10px;
}
